body{
	background-color: #618685;
}
h1{
	font-size: 35px;
	font-family: Georgia;
	color: #d5f4e6;
	text-align: center;
}
h2{
	font-size: 25px;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #d5f4e6;
	text-align:center;
	padding: 30px;
}
.footer{
	padding: 20px;
	text-align:center;
}
.footer a{
	color:white;
}
button{
	font-size: 15px;
	margin: 0 auto;
 	display:block;
	color:black;
}
div{
	font-family:"Lucida Console";
	font-size: 42px;
	padding: 50px;
	text-align:center;
	color: #fefbd8;
}
